*{
    margin:0;
    padding:0;
}
ul,ol,dl li{
    list-style:none;
}
.top{
    width:100%;
    margin:0 auto;
    height:750px;
    background:url(./syImg/01/banner0.1.png) center no-repeat;

}
.top .top-h{
    width:100%;
    margin:0 auto;
    background:url(./syImg/01/banner0.1.png) center no-repeat;
    background:rgba(178,170,152,0.2);
}
.top .head{
    width:1200px;
    margin:0 auto;
    overflow: hidden;
}
.top .head-i{
    float:left;
    width:36px;
    height:30px;
    padding:27px 20px;
}
.top .head ul li{
    padding:27px 20px;
    float:right;
    color:#999898;
    font-size:20px;
}
.top .head ul li:hover{
    color:#fda102;
}
/*..................修改成循环样式是active*/
.top .head ul .active{
    color:#fda102;
}
.top .top-m{
    width:1200px;
    height:630px;
    margin:0 auto;
    background:url(./syImg/01/banner1.1.png) no-repeat;
}
.top .top-m .top-m-h{
    padding:118px 170px;
}
.top .top-m .top-m-h h1{
    padding-bottom:24px;
    color:white;
    font-size:58px;
    font-weight: 500;
}
.top .top-m .top-m-h p{
    color:#adaba7;
    font-size:22px;
}
.top .top-m .top-m-ipt{
    margin:0 170px;
    width:800px;
    height:84px;
    border-radius:15px;
    background:url(./syImg/01/icon-2.png) no-repeat rgba(255,255,255,.5);
    background-size:44px ;
    background-position:20px 22px;
}
.top .top-m .top-m-ipt input{
    border:none;
    width:540px;
    margin-left:100px;
    font-size:20px;
    margin-top:30px;
    background: rgba(255,255,255,.0);
}
.top .top-m .top-m-ipt button{
    background:#d8316c;
    font-size:22px;
    width:110px;
    height:60px;
    color:white;
    border:none;
    margin-right:20px;
    padding-top:0;
    border-radius:15px;
}
/*middle*/
.middle{
    width:100%;
    margin:0 auto;
    background:#fbfaf9;
    text-align: center;
    padding:52px 0;
    font-size:22px;
}
/*********************轮播*/
.lunbo{
    width:100%;
    height:396px;
    margin:0 auto;
    background:rgba(0,0,0,.2);
}
.lunbo .lunbo-tu{
    width:990px;
    height:396px;
    margin:0 auto;
    background:#999;
}
/*四月*/
.siyue{
    width:100%;
    margin:0 auto;
    font-size:22px;
    text-align:center;
    padding:30px 0;
    background:#fcf7e6;
}
/********************选项卡*/
.xxka{
    width:1200px;
    height:270px;
    margin:50px auto;
    position:relative;
}
.xxka ul li{
    float:left;
    border:1px solid #d8316c;
    border-radius:10px;
    text-align: center;
    line-height:36px;
    font-size:16px;
    color:#5a5a5a;
    width:64px;
    height:36px;
}
.xxka ol{
    position:absolute;
    top:80px;
    left:0;
}
.xxka ol li{
    float:left;
}
.xxka ol li img{
    width:150px;
    height:150px;

}
.xxka ul .active2{
    background:#d8316c;
    color:white;
}
.xxka ul li:hover{
    background:#d8316c;
    color:white;
}

/*排行+图片*/
.middle-chu{
    width:1200px;
    margin:0 auto;
    height:468px;
}
.middle-chu .middle-chu-down img {
    width: 682px;
    height: 375px;
    float: left;
}
.middle-chu .paihang{
    float:right;
}
.middle-chu .paihang li div{
    float:left;
    padding:14px 30px;
}
.middle-chu .paihang li div button{
    background:#d8316c;
    font-size:18px;
    width:80px;
    height:40px;
    color:white;
    border:none;
    border-radius:10px;
}
.middle-chu .paihang li div img{
    width:36px;
    border-radius:50%;
}
/*换一批*/
.middle-chu .middle-huan {
    margin-left:210px;
}
.middle-chu .middle-huan button{
    text-align:center;
    background:#f8bf1c;
    color:white;
    border:none;
    width:70px;
    height:30px;
    border-radius:20px;
}